@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">União Desportiva Atalaiense</h1>
    <p>União Desportiva Atalaiense</p>
    @Html.Partial("div_eq_fav")
</div>
