@page
@model Clube_Uniao_Desportiva_Atalaiense.Views.Shared.div_ult_resModel
@{
}
<style>


    .grid{
        width:60%;
        background-color:yellow;
        border-width:1px;
        border-color: black;
        border-style: solid;
        
    }
    .linha_ult_res{
        display:flex;
        margin:0px;
        
    }
    .linha_ult_res>p{
        border-width:1.5px;
        border-color:black;
        border-style:solid;
        margin:0px;
    }
    .eq1,
    .eq2{
        width:20%;
    }
    .res{
        width:5%;
    } 
    .campo{
        width:25%;
    }
    .marc{
        width:30%;
    }
                    
</style>

<div class="b_ult_res">
    <h1>EQUIPAS FAVORITAS</h1>
    <div class="grid">
        <div class="linha_ult_res">
            <p class="eq1">Primeira Equipa</p>
            <p class="res">Resultado</p>
            <p class="eq2">Segunda Equipa</p>
            <p class="campo">Campo</p>
            <p class="marc">Marcadores e Minutos</p>
        </div>
        <div class="linha_ult_res">
            <p class="eq1">Primeira Equipa</p>
            <p class="res">Resultado</p>
            <p class="eq2">Segunda Equipa</p>
            <p class="campo">Campo</p>
            <p class="marc">Marcadores e Minutos</p>
        </div>
        <div class="linha_ult_res">
            <p class="eq1">Primeira Equipa</p>
            <p class="res">Resultado</p>
            <p class="eq2">Segunda Equipa</p>
            <p class="campo">Campo</p>
            <p class="marc">Marcadores e Minutos</p>
        </div>
        
    </div>
</div>
